{% extends "base.html" %}

{% block title %}Liste des clients{% endblock%}

{%block content%}
    <h2>Liste des clients </h2>
    <form method="get" action=''>
        <input type="text" name ="q" placeholder = "Rechercher un client" value="{{ request.GET.q }}">
        <button type = "submit">Rechercher</button>
    </form>
    
    <ul>
        {% for client in clients %}
        <li>
            <p><strong> {{client.username}}</strong> - {{client.first_name}} {{client.last_name}}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}