.venv
db.sqlite3
prime_assurance/assurance/__pycache__
prime_assurance/prime_assurance/__pycache__
prime_assurance/db.sqlite3
prime_assurance/assurance/migrations/__pycache__
prime_assurance/prime_assurance/__pycache__
/staticfiles/
# Created by https://www.toptal.com/developers/gitignore/api/database
# Edit at https://www.toptal.com/developers/gitignore?templates=database

### Database ###
*.accdb
*.db
*.dbf
*.mdb
*.pdb
*.sqlite3
*.db-shm
*.db-wal

# End of https://www.toptal.com/developers/gitignore/api/database
